.flex-container {
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
}

.left {
    width: 300px;
    height: 100%;
    background-color: #FFC000;
}
.right {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 0;
    flex-direction: column;
    align-content: stretch;
}
.blue {
    background-color: #4472C4;
    flex: 2 2 150px;
}
.green {
    background-color: #70AD47;
    flex: 1 1 75px;

}
.middle {
    flex-direction: row;
    display: flex;
    flex: 5 5 100%;
    flex-wrap:nowrap ;
}
.red {
    background-color: #FF2F2F;
    flex: 1 1 230px;

}
.grey {
    background-color: #F2F2F2;
    flex: 4 4 100%;
}