
html,body {
    width: 100%;
    height:100%;
    margin: 0;

}

 .container {
     display: grid;
     grid-template-rows: repeat(4,50px);
     grid-template-columns: repeat(12, auto);
     border-bottom: solid 1px black;
 }
 .cell {
     border: 1px solid black;

 }
     .main {
    grid-column: 2/4;
    grid-row:2;
 }
    .gallery {
     grid-column: 5;
     grid-row: 1/4;
        writing-mode: vertical-lr;

 }
   .contacts {
    grid-column: 9/11;
    grid-row: 2;
}
.portfolio {
    grid-column: 7/9;
    grid-row:4;
}
.animate {
    animation: colorchange 3s infinite;
}
.delay {
    animation-delay: 1s;
}
.delay2 {
    animation-delay: 2s;
}
@keyframes colorchange {
0% {background-color: #FFffff;}
50% {background-color: #a8a7a8;}
100% {background-color: #FFffff;}
}

.main {
    transition:transform 0.5s , box-shadow 0.5s;
}

.main:hover {
    transform: translate(-15px,0);
    box-shadow: 17px 1px 11px 2px rgba(112,111,112,0.91);
}
.gallery {
    transition:transform 0.5s , box-shadow 0.5s;
}

.gallery:hover {
    transform: translate(-6px,3px);
    box-shadow: 11px 1px 12px 1px rgba(112,111,112,0.91);
}
.portfolio {
    transition:transform 0.5s , box-shadow 0.5s;

}

.portfolio:hover {
    transform: translate(0px,4px);
    box-shadow: 1px -8px 12px 1px rgba(112,111,112,0.91);
}
.contacts {
    transition:transform 0.5s , box-shadow 0.5s;

}

.contacts:hover {
    transform: translate(10px, 0px);
    box-shadow: -13px 0px 17px 4px rgba(112,103,112,1);
}
@keyframes button {
    0% {background-color: blue; color: orange;}
    25% {background-color: yellow; color: green;}
    50% {background-color: red; color: blue;}
    75% {background-color: green; color: red;}
    100% {background-color: orange; color: yellow;}
}

.animate-hover:hover {
    animation: button 1s infinite;

}








